.DS_Store
__pycache__
dist
*.egg-info
minority_consensus.py
homework.py
toogle_switch.py
chronometer.py
.idea
for_live_tutorial.py
local_test.py
live_demo.py
in_case_of_panic.py
text_script.py
minority_consensus_event_figures
linkedin_model.py
isolate_test.py
docs
mobspy_jounal_models
parameter_problem.py
plot_config_donor.json
plot_config_test.json
Melanie_Model.py
testing_tight_layout.png
*.pyc
__pycache__/


